.post {
    display: grid;
    grid-template-columns: 1fr 9fr;
    width: 70%;
}

.post img {
    width: 50px;
    border-radius: 50px;
}

.messageContainer {
    height: 70px;
    padding-left: 10px;
}

.message {
    display: inline-block;
    transform: translate(0px, -50%);
    position: relative;
    top: 50%;
}

.message {
    word-break: break-all;
}