.slider {
    box-sizing: border-box;
    position: relative;
    top: 0px;
    width: 100%;
    height: 20vw;
}

.slider .buttons {
    box-sizing: border-box;
    position: absolute;
    width: fit-content;
    height: fit-content;

    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
}
.buttons button {
    border: hidden;
    background: transparent;
    padding: 0px;
}
.buttons img {
    width: 2vw;
}

.slider .buttonLeft {
    left: 10px;
}

.slider .buttonRight {
    right: 10px;
}

.slider .toggleSlide {
    top: unset;
    bottom: -6vw;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
}

.toggleSlide button {
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 1em;
    width: 150px;
    height: 30px;
}

.visibleArea {
    /* Чтобы visibleArea был позиционируемым.
    Это нужно для того, чтобы imagesContainer
    позиционировался относительно visibleArea */
    position: absolute;
    right: 0px;
    left: 0px;
    margin-right: auto;
    margin-left: auto;
    /* В width должно вместиться ровно 2 периода картинок */
    width: 40vw;
    height: 20vw;
    overflow: hidden;
}

.visibleArea img {
    max-width: 20vw;
    max-height: 20vw;
}

.imagesContainer {
    display: flex;
    /* Width должна быть равна 5 периодам картинок */
    width: 100vw;
    height: 20vw;

    position: absolute;
    /* Половина ширины картинки + период следования картинок */
    left: -27.5vw;

    display: flex;
    justify-content: space-between;
}

.imagesContainer div {
    position: absolute;
    transition: all 1s;
}

.prev2xDiv {
    left: 0px;
}

.prevDiv {
    /* Период следования каринок 20vw */
    left: 20vw;
}

.currDiv {
    left: 40vw;
}

.nextDiv {
    left: 60vw;
}

.next2xDiv {
    left: 80vw;
}
