.profileInfo {
    height: 100%;
    margin-right: 10px;
}

.content {
    padding-top: 10px;
}

.profileInfo div {
    text-align: center;
}

.profileInfo img {
    max-width: 150px;
}

.takePlace {
    padding: 5em;
}