.profileInfo {
    height: 100%;
    background-color: white;

    margin-right: 10px;
}

.content {
    padding-top: 10px;
}

.profileInfo div {
    text-align: center;
}

.profileInfo img {
    max-width: 150px;
}