.viewPanelContainer {
    width: 0;
    height: 0;
    z-index: 2;
}

.flexContainer {
    display: flex;

    height: 45vh;
    width: 45vw;

    z-index: 2;

    position: relative;
    left: -22.5vw;
    top: 18vh;
}

.contentArea {
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    padding: 10px;

    animation: notransform 0.5s 1;
    animation-delay: .5;

    background-color: white;
}

.contentArea img {
    max-width: 40vw;
    max-height: 40vh;
}

@keyframes notransform {
    0% { transform: scale3d(.5, .5, .5); }
    100% { transform: scale3d(1,1,1); }
}

.leafContainer {
    height: 100%;
    width: 5vw;
    background-color: rgba(0, 0, 0, 0.4);
}

.leafContainer:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.shadowContainer {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    margin: auto;

    z-index: 1;
}