.dialog {
    display: grid;
    grid-template-columns: 1fr 10fr;
    height: 70px;
}

.ava img {
    width: 50px;
    border-radius: 40px;
}

.preview {
    height: 70px;
    line-height: 70px;
    padding-left: 10px;
}

.preview span{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}