.content {
    background-color: white;
    width: 50vw;
    min-height: 86vh;
    
    /* position: relative;
    transform: translate(-50%, 0px);
    left: 50%; */

    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    margin: auto;
}

.fixedHeight {
    height: 86vh;
}
