.posts {
    padding-left: 3em;
    text-align: left;
    color     : rgb(72, 78, 78);

    height: 100%;
    background-color: white;

    margin-left: 10px;
}
.posts textarea {
    height: 70px;
}

.content {
    padding-top: 10px;
}


.buttonContainer {
    padding: 10px 0px;
}

.buttonContainer button {
    width: 100px;
}

.headerContainer {
    text-align: center;
}


