body {
    box-sizing: border-box;
    margin    : 0;
    padding   : 0;
    color     : rgb(122, 134, 134);
}

html,
body,
#root {
    height: 100vh;
}

.app-wrapper {
    background-color     : rgb(46, 62, 87);
    min-height           : 100%;
    display              : grid;
    grid-template-rows   : 60px 1fr 50px;
    grid-template-columns: 1fr 150px minmax(200px, 5fr) 1fr;
    grid-template-areas  :
        "header header  header  header"
        ".      side    content ."
        "footer footer  footer  footer";
}

button {
    background-color: rgb(77, 95, 122);
    color: rgb(148, 160, 160);
    padding: 5px 10px;
    border-radius: 5px;
}

textarea {
    min-width: fit-content;
    width: 70%;
    background-color: rgb(109, 141, 192);
    color: rgb(72, 80, 80);
    font-size: 14px;
    padding: 0.5em 0.5em;
    line-height: 1.5em;
    outline: none;
}

a {
    color:rgb(122, 134, 134);
    text-decoration: none;
}

a.active {
    color:rgb(148, 160, 160);
}


